apiVersion: v1
kind: Service
metadata:
  name: banking-app
spec:
  type: {{ .Values.service.type }}
  selector:
    app: banking-app
  ports:
  - port: {{ .Values.service.port }}
    targetPort: {{ .Values.containerPort }}
    nodePort: {{ .Values.service.nodePort }}
